
@using IDServer.Models
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password Confirmation";
}

<hr />
<hr />
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Reset Password link will be sent to your Email account.</label><br />
            <label>Please check it.</label>


        </div>
        <label>Click here to </label>
        
            <a asp-controller="Account"
               asp-action="Login" asp-route-tenantId="@ViewData["TenantId"]" asp-route-returnUrl="@ViewData["ReturnUrl"]">Login</a>
        

    </div>
</div>