
@using IDServer.Models

@{
    ViewData["Title"] = "Reset password Confirmation";
}

<hr />
<hr />
<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Password is reset successfully.</label>


        </div>
        <label>Click here to </label>
        
            <a asp-controller="Account"
               asp-action="Login" asp-route-tenantId="@ViewData["TenantId"]" asp-route-returnUrl="@ViewData["ReturnUrl"]">Login</a>
        

    </div>
</div>