body {
  margin-top: 65px;
}
.navbar-header {
  position: relative;
  top: -4px;
}
.navbar-brand > .icon-banner {
  position: relative;
  top: -2px;
  display: inline;
}
.icon {
  position: relative;
  top: -10px;
}
.logged-out iframe {
  display: none;
  width: 0;
  height: 0;
}
.page-consent .client-logo {
  float: left;
}
.page-consent .client-logo img {
  width: 80px;
  height: 80px;
}
.page-consent .consent-buttons {
  margin-top: 25px;
}
.page-consent .consent-form .consent-scopecheck {
  display: inline-block;
  margin-right: 5px;
}
.page-consent .consent-form .consent-description {
  margin-left: 25px;
}
.page-consent .consent-form .consent-description label {
  font-weight: normal;
}
.page-consent .consent-form .consent-remember {
  padding-left: 16px;
}
.grants .page-header {
  margin-bottom: 10px;
}
.grants .grant {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.grants .grant img {
  width: 100px;
  height: 100px;
}
.grants .grant .clientname {
  font-size: 140%;
  font-weight: bold;
}
.grants .grant .granttype {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .created {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .expires {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant li {
  list-style-type: none;
  display: inline;
}
.grants .grant li:after {
  content: ', ';
}
.grants .grant li:last-child:after {
  content: '';
}
/* Added css for login page*/
html, body {
  height: 100%;
}

body {
  margin-top: 0;
  background: #f9f9f9;
}

.alert {
  padding: 5px 10px;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
}

  .alert ul {
padding:0;
margin:0;
list-style:none;
  }

  .wrapper, .height100p {
    height: 100%;
  }
.login-page {
  padding-top: calc(50% - 418px);
}

.login-section {
  max-width: 340px;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 1px 12px #dad5d5;
}

.form-control {
  border: 1px solid #eaeaea;
  box-shadow: none;
}

.input-group-addon {
  border-color: #eaeaea;
}

.btn-primary {
  background-color: #219dde;
  border-color: #219dde;
}



.login-logo {
  text-align: center;
  color: orange;
  margin-bottom: 10px;
}

  .login-logo img {
    max-width: 100%;
  }


.login-welcome-text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

  .login-welcome-text span {
    font-weight: bold;
    color: #000;
  }

.login-footer {
  text-align: center;
  font-size: 12px;
}